* {
  font-family: "Kanit", sans-serif;
  padding: 0px;
  margin: 0px;
}

.nav-item{
  display: flex;
  align-item: center;
  padding-left: 30px;
}
/* Mengganti warna teks item menu navbar */
.navbar-nav .nav-link {
  color: white; /* Gantilah dengan warna yang Anda inginkan */
}

.navbar-nav .nav-item .nav-link.active {
  color: #a1ff9f;
}

.nav-item:hover a {
  color: #a1ff9f;
}

.img1 {
  position: relative;
  margin-top: 55px;
  margin-bottom: 30px;
  margin-right: 15in;
  width: 700px;
  height: 700px;
  border: 1px solid white;
}

.img2 {
  margin-left: 690px;
  position: relative;
  top: -172mm;
  width: 600px;
  height: 500px;
}

.title-con{
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: row; /* Atur flex-direction menjadi "row" */
  align-items: center;
}
.title {
  margin-left: 690px;
  position: relative;
  top: -270mm;
  color: #02406d;
  animation: slideUp 2s ease;
}

.title2 {
  margin-left: 690px;
  position: relative;
  top: -270mm;
  color: #02406d;
  font-size: 30px;
  animation: slideUp 3s ease; /* Nama animasi, durasi, dan jenis animasi */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%); /* Elemen dimulai dari bawah */
    opacity: 0; /* Elemen transparan saat dimulai */
  }
  50% {
    transform: translateY(50%); /* Elemen dimulai dari bawah */
    opacity: 0; /* Elemen transparan saat dimulai */
  }
  100% {
    transform: translateY(0%); /* Elemen berakhir di posisi awal */
    opacity: 1; /* Elemen sepenuhnya terlihat saat selesai */
  }
}

.input-jenis-lapangan {
  position: relative;
  top: -62.5rem;
  margin-left: 690px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  padding: 10px;
  color: #02406d;
  border: 1px solid #e7f5ff; /* Warna border */
  transition: border-color 0.3s; /* Efek hover */
}

.input-jenis-lapangan:hover {
  border-color: #02406d;
  cursor: pointer;
}

.button {
  position: relative;
  top: -68.8rem;
  margin-left: 1230px;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #e7f5ff;
  background-color: white;
  color: #02406d;
}

.button:hover {
  background-color: #02406d;
  color: white;
}
.persegi {
  width: 88.5rem; /* Lebar persegi dalam piksel */
  height: 20rem; /* Tinggi persegi dalam piksel */
  background-color: #e7f5ff; /* Warna latar belakang persegi */
  position: relative;
  top: -40rem;
  border-top-right-radius: 10rem;
  border-top-left-radius: 10rem;
  margin-left: 0px;
}

.persegi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px; /* Lebar bagian lengkungan di atas */
  height: 320px; /* Tinggi bagian lengkungan di atas */
  background-color: white; /* Warna latar belakang bagian lengkungan di atas */
  border-bottom-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.btn[type="button"] {
  border-color: #02406d;
  width: 200px; /* Lebar bagian lengkungan di atas */
  height: 303px;
  margin-left: 15.5rem;
  font-weight: 600;
  position: relative;
  top: -60rem;
  border-bottom-left-radius: 150px;
  box-shadow: 2px 2px 5px rgba(0, 2, 4, 0, 6, D);
  padding-bottom: 0px;
}

.btn img {
  vertical-align: 30px;
  margin-top: 20px;
  width: 150px;
  text-align: center;
}

.btn[type="button"]:hover {
  background-color: #02406d;
  color: white;
}

.btn-1 {
  border: 1px solid #02406d;
  background-color: white;
  width: 200px; /* Lebar bagian lengkungan di atas */
  height: 303px;
  margin-left: 2.2rem;
  font-weight: 600;
  position: relative;
  top: -66.3rem;
  border-radius: 5.5px;
  box-shadow: 2px 2px 5px rgba(0, 2, 4, 0, 6, D);
}

.btn-1 img {
  vertical-align: 0px;
  margin-top: 20px;
  width: 180px;
  text-align: center;
}

.btn-1:hover {
  background-color: #02406d;
  color: white;
}

.btn-2 {
  border: 1px solid #02406d;
  background-color: white;
  width: 200px; /* Lebar bagian lengkungan di atas */
  height: 303px;
  margin-left: 45.5rem;
  font-weight: 600;
  position: relative;
  top: -85.3rem;
  border-radius: 5.5px;
  box-shadow: 2px 2px 5px rgba(0, 2, 4, 0, 6, D);
}

.btn-2 img {
  vertical-align: 30px;
  margin-top: 20px;
  width: 150px;
}

.btn-2:hover {
  background-color: #02406d;
  color: white;
}

.btn-3 {
  border: 1px solid #02406d;
  background-color: white;
  width: 200px; /* Lebar bagian lengkungan di atas */
  height: 303px;
  margin-left: 60.5rem;
  font-weight: 600;
  position: relative;
  top: -104.3rem;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 2, 4, 0, 6, D);
}

.btn-3 img {
  vertical-align: 30px;
  margin-top: 20px;
  width: 150px;
}

.btn-3:hover {
  background-color: #02406d;
  color: white;
}

.persegi2 {
  width: 88.5rem; /* Lebar persegi dalam piksel */
  height: 28rem; /* Tinggi persegi dalam piksel */
  background-color: white; /* Warna latar belakang persegi */
  position: relative;
  top: -95rem;
}

.persegi2::before {
  content: "Jenis Olahraga";
  font-size: 20px;
  font-weight: regular;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  color: white;
  top: 0;
  left: 8.7%;
  border: 1px solid #02406d;
  transform: translateX(-50%);
  border-bottom-right-radius: 150px;
  width: 250px; /* Lebar bagian lengkungan di atas */
  height: 60px; /* Tinggi bagian lengkungan di atas */
  background-color: #02406d; /* Warna latar belakang bagian lengkungan di atas */
}

.no-underline {
  position: absolute;
  width: 300px;
  margin-top: -139.5rem;
  margin-left: 78rem;
  text-decoration: none;
  color: #02406d;
}

.no-underline:hover {
  text-decoration: underline;
}

.persegi3 {
  width: 80rem;
  background-color: none; /* Warna latar belakang persegi */
  position: relative;
  top: -103rem;
  margin-left: 35px;
  margin-right: 0px;
}

.community {
  color: white;
  width: 350px; /* Lebar bagian lengkungan di atas */
  height: 60px;
  font-size: 20px;
  font-weight: regular;
  text-align: center;
  padding-top: 10px;
  background-color: #02406d;
  position: relative;
  top: -107rem;
  border-bottom-right-radius: 150px;
}

/* Mengurangi lebar Carousel */
.carousel-inner {
  max-width: 2450px; /* Ubah sesuai kebutuhan */
  height: 500px;
  margin-left: 45px;
  border-radius: 20px;
}

/* Mengurangi ukuran gambar dalam Carousel */
.carousel-inner img {
  max-width: 100%; /* Gambar akan mengikuti lebar Carousel */
  height: auto; /* Gambar akan menyesuaikan tinggi Carousel */
  border-radius: 20px;
}

.card-slider {
  display: flex;
  max-width: 100%;
  min-width: 50%;
  position: relative;
  transition: transform 0.5s ease;
  margin-left: 328px;
  margin-top: -90rem;
  cursor: grab;
}

.card-slider .card {
  flex: 0 0 33%; /* Untuk tampilan 3 kartu pada saat bersamaan */
  transition: transform 1s ease;
  cursor: pointer;
}

.card {
  width: 50rem;
  height: 20rem;
  text-align: center;
  margin-left: 50px;
  overflow: hidden;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  transition: scale 1s;
}

.card:hover img {
  scale: 105%;
  cursor: pointer;
}

.card-body h5 {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

.card-body h6 {
  margin-bottom: 5px;
  text-align: left;
}

.tombol-aktivitas {
  margin-top: 40px;
  height: 30px;
  width: 150px;
  background-color: white;
  color: #02406d;
  border: 1px solid #02406d;
  border-radius: 20px;
}

.tombol-aktivitas:hover {
  background-color: #02406d;
  color: white;
}

.small-box {
  background: white;
  color: #02406d;
  margin-top: -18.5px;
  border-top-left-radius: 5px;
  margin-left: 320px;
  width: 50px;
  text-align: center;
  z-index: 1; /* Tempatkan di atas gambar */
}

.footer {
  height: 350px;
  width: 100rem;
  margin: 0px;
  margin-top: 350px;
  margin-left: -60px;
  background-color: #02406d;
  font-family: "Kanit", sans-serif;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
}

.hierarki {
  display: flex;
}

.hierarki a {
  display: flex;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.hierarki a:hover {
  color: #a1ff9f;
}

@media screen and (min-width: 500px) {
  .footer{
    height: 350px;
    width: 125rem;
  }

  .card-slider{
    width: 500rem;
    height: 50rem;
  }

  .title{

  }
}