* {
  font-family: "Kanit", sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: 
}

th {
  text-align: -webkit-match-parent;
}

.nav-item{
  display: flex;
  align-item: center;
  padding-left: 30px;
}

/* Mengganti warna teks item menu navbar */
.navbar-nav .nav-link {
  color: white; /* Gantilah dengan warna yang Anda inginkan */
}

.navbar-nav .nav-item .nav-link.active {
  color: #a1ff9f;
}

.nav-item:hover a {
  color: #a1ff9f;
}

.daftar-btn {
  color: #a1ff9f;
  border-radius: 6px;
  border: 1px solid #a1ff9f;
  background-color: #02406d;
  margin-right: 20px;
  width: 100px;
  height: 35px;
  font-weight: regular;
  text-decoration: none;
  padding: 5px;
  padding-left: 15px;
}

.masuk-btn {
  color: #02406d;
  border: 0px;
  border-radius: 6px;
  background-color: white;
  margin-right: 10px;
  width: 80px;
  height: 35px;
  font-weight: regular;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 5px;
}

.masuk-btn:hover {
  background-color: #a1ff9f;
  color: #02406d;
  border: 1px solid #a1ff9f;
  transition: 1s;
  transform: scale(1.1);
}

.container {
  display: flex;
  justify-content: center; /* Tengah-tengahkan secara horizontal */
  align-items: center; /* Tengah-tengahkan secara vertikal */
  height: 660px; /* Sesuaikan tinggi container */
  border-radius: 20px;
  flex-direction: column;
  background-color: #02406d;
  margin-top: 90px;
  gap: 20px;
  animation: zoomIn 3s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0); /* Skala dari 0 (tidak ada elemen) */
    opacity: 0; /* Opacity 0 (elemen transparan) */
  }
  to {
    transform: scale(1); /* Skala menjadi 1 (ukuran normal) */
    opacity: 1; /* Opacity 1 (elemen terlihat sepenuhnya) */
  }
}

.username {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 15px;
}

.judul{
  margin-top: 0px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  animation: slideDown 2s ease-in-out;
}

.judul h1{
  font-weight: regular;
  font-size: 200;
}

@keyframes slideDown {
  0% {
    transform: translateY(100%); /* Elemen dimulai dari bawah */
    opacity: 0; /* Elemen transparan saat dimulai */
  }
  100% {
    transform: translateY(0%); /* Elemen dimulai dari bawah */
    opacity: 1; /* Elemen transparan saat dimulai */
  }
}

.judul .akun{
  color: #a1ff9f;
}

.separator{
  height: 1px;
  width: 85rem;
  background-color: white;
  margin-top: -10px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  position: center;
  animation: slide 4s ease;
}

.separator2 .line-1{
  height: 1px;
  width: 7rem;
  margin-top: 15px;
  margin-left: 0px;
  background-color: white;
}

.separator2 .line-2{
  height: 1px;
  width: 7rem;
  margin-top: 0px;
  margin-left: 180px;
  background-color: white;
}

.separator2 .line-2::before{
  content: "Atau";
  height: 1px;
  width: 7rem;
  margin-top: 0px;
  margin-left: -50px;
  color: white;
}


@keyframes slide {
  from {
    transform: scale(0); /* Skala dari 0 (tidak ada elemen) */
    opacity: 0; /* Opacity 0 (elemen transparan) */
  }
  to {
    transform: scale(1); /* Skala menjadi 1 (ukuran normal) */
    opacity: 1; /* Opacity 1 (elemen terlihat sepenuhnya) */
  }
}

.username input[type="text"] {
  width: 300px; /* Sesuaikan lebar input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  flex-direction: column;
  height: 40px;
}

.username input[type="password"] {
  width: 300px; /* Sesuaikan lebar input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  flex-direction: column;
  height: 40px;
}

.username input[type="text"]:hover {
  border: 1px solid #02406d;
}

.google-area button{
  width: 300px;
  height: 40px;
  margin-top: 30px;
  border: 1px solid #02406d;
  background-color: white;
  border-radius: 10px;
}

.google-area img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.google-area button:hover{
  border: 1px solid white;
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0);
}

.tombol-daftar-body {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #a1ff9f;
  background-color: #02406d;
  box-shadow: 0px 5px 5px rgba(161, 255, 159);
  margin-top: 10px;
  color: #a1ff9f;
}

.tombol-daftar-body:hover {
  background-color: #a1ff9f;
  color: #02406d;
  box-shadow: 0px 5px 5px rgba(0, 0, 0);
}



